body{
    background: #FFFFFF;
    color: #333;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    margin: 20px;
    padding: 5px;
    font-size: 12pt;
    text-align: left;
}

h3 {
    color: #515151 ;
    font-weight: lighter ;
    font-size: 13pt;
}

tagline {
    font-weight: lighter;
    color: #aaa;
    font-size: 12pt;
}

header {
    overflow: hidden;
}

header img {
    float: left;
}

header h1 {
    float: left;
    margin: 0px;
    padding: 20px;
    color:#515151;
}

nav ul{
    list-style-type: none;
    margin: 10px;
    padding: 0px;
}


nav li a {
    display:block;
    color: #515151;
    text-align: right;
    text-decoration: none;
}

footer{
    bottom: 2px;
    width: 100%;
}

hr {
    width: 100%;
}

a:hover {
    background-color: #FDE7E7;
}

#active{
    color: #FFB9CB;
}

@media (max-width: 590px) {
    .heading img {
        margin-right: -30px;
        margin-left: -18px;
    }
    .heading tagline {
        font-size: 4pt;
    } 

    .heading a {
        margin-top: 15px;
    }

    .heading {
        display: flex;
        flex-direction: row;
        height: 80px;
        text-align: left;
        font-size: 5px;
    }

    body{
        margin: 20px;
    }
    .navigation {
        display: none;
        font-size: 5pt !important;
        width: 95px;
        position: absolute !important;
        left: 210px !important;
        margin-top: -25px !important;
        background-color: #fff;
        box-shadow: 0 4px 6px gray !important;
    }
    .container {
        display: inline-block !important;
        cursor: pointer !important;
        margin-left: 250px !important;
        clear: both !important;
        margin-top: -55px !important;
        margin-bottom: 30px !important;
        padding-left: 5px !important;
    }
          
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
          
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
          
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .container.change + .navigation {
        display: block;
    }

    footer nav{
        display: none;
    }

    footer {
        float: left;
        font-size: 5pt;
    }

    p::first-letter {
        font-size: 12pt;
        font-weight: bold;
    }
    footer img {
        height: 25px;
        float: left;
        margin-top: -12px;
        padding: 2px;
    }
}


@media (min-width: 590px) and (max-width: 790px)  {
    .heading img {
        padding: 20px;
        margin: -60px;
        height: 130px;}
    .heading {
        margin: 20px;
        font-size: 8pt;
        padding: 5px;
    }
    .heading tagline {
        font-size: 7pt;
    }

    .navigation {
        display: none;
        font-size: 10pt;
        width: 100px;
        position: absolute;
        left: 400px;
        background-color: #fff;
        box-shadow: 0 4px 6px #ebebeb;
    }

    .container {
        display: inline-block;
        cursor: pointer;
        margin-left: 25px;
        margin-top: -10px;
    }
          
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
          
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
          
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .container.change + .navigation {
        display: block;
    }

    footer {
        font-size: 8pt;
        width: 95%
    }

    footer nav{
        display: none;
    }

    p::first-letter {
        font-size: 16pt;
        font-weight: bold;
    }

    footer img {
        height: 35px;
        float: left;
        padding: 5px;
        margin-top: -20px;
    }

}

@media (min-width: 790px) {
    .heading img {
        padding: 20px;
        margin: -60px;
        height: 150px;
    }

    nav li a {
        padding: 20px;
    }
    nav li {
        float: right;
        margin-left: 10px;
    }
    footer{
        font-size: 12pt;
    }

    p::first-letter {
        font-size: 18pt;
        font-weight: bold;
    }

    footer img {
        height: 45px;
        position: relative;
        margin-top: -20px;
    }
}