body * {
    box-sizing: content-box !important;
}

.paragraph {
    background-color: #F3F3F3;
}



@media (max-width: 590px) {
    .paragraph {
        margin: 20px;
        padding: 15px;
        font-size: 8pt;
    }

    .heading *{
        font-size: 10pt;
    }

    .container * {
        margin-left: 20px;
    }

    .paragraph::first-letter {
        font-size: 10pt;
        font-weight: bold;
    }

    h2 {
        font-size: 8pt;
        font-weight: bold;
    }

    h3 {
        font-size: 7pt;
        
    }

    .paragraph ul {
        margin: 10px;
    }
    
    .carousel {
        margin: 35px;
    }
    
    .carousel img{
        height: 300px;
        object-fit: cover;
    }

    .paragraph::first-letter {
        font-weight: bold;
        font-size: 10pt;
    }
}

@media (min-width: 590px) and (max-width: 790px) {
    .paragraph {
        margin: 20px;
        padding: 15px;
    }
    .paragraph::first-letter {
        font-weight: bold;
        font-size: 16pt;
    }

    .paragraph ul {
        margin: 10px;
    }
    
    .carousel {
        margin: 35px;
        margin-left: 70px;
    }
    
    .carousel img{
        height: 350px;
        object-fit: cover;
    }
}

@media (min-width: 790px) {
    article {
        margin: 30px;
        
    }

    h3, .heading {
        font-family: Geneva, Tahoma, Verdana, sans-serif !important;
    }

    .paragraph {
        margin: 20px;
        padding: 15px;
    }

    .paragraph::first-letter {
        font-size: 16pt;
        font-weight: bold;
    }
    .paragraph ul {
        margin: 10px;
    }
    
    .carousel {
        margin: 35px;
        margin-left: 70px;
    }
    
    .carousel img{
        height: 550px;
        object-fit: cover;
    }
}