
body * {
    box-sizing: content-box !important;
}


#description{
    background-color: #F3F3F3;
}

p ul {
    line-height: 30px;
}

#overview {
    color: #515151;
    text-decoration: none;
}

@media (max-width: 590px){
    article {
        margin-top: -30px;
        margin-left: 10px;
    }

    article h2 a {
        font-size: 8pt;
        line-height: 1px;
    }

    h2{
        font-size: 8pt;
        line-height: 15px;
    }
    
    h3 {
        font-size: 7pt;
        width: 95%;
    }

    section {
        width: 100%;
        font-size: 7pt;
    }
    p {
        padding: 8px;
    }

    p ul {
        padding: 25px;
        margin-top: -30px;
        margin-bottom: -30px;
        width: 70%;
    }

    p li {
        line-height: 15px;
        font-size: 7pt;
    }

    img[alt="scaling plan"] {
        display: none;
    }
    .carousel img{
        height:200px;
        object-fit: cover;
        padding: 5px;
    }

    .carousel {
        align-items: center;
    }

    .heading *{
        font-size: 10pt;
    }

    .container * {
        margin-left: 20px;
    }
    
    .mrucover{
       display: none;
    }
    
    #imagesmru {
        margin-top: -50px;
    }

    #imagesmru img {
        height: 250px;
    }

}

@media (min-width: 590px) and (max-width: 790px) {
    img[alt="scaling plan"] {
        height: 150px;

    }

    article h2 a {
        font-size: 12pt;
        line-height: 1px;
    }

    h2 a, h2{
        font-size: 12pt;
        line-height: 20px;
    }
    
    h3 {
        font-size: 10pt;
        width: 100%;
    }

    section {
        font-size: 10pt;
        width: 95%;
    }
    
    p {
        padding: 8px;
    }

    p li {
        line-height: 25px;
    }

    .carousel img{
        height:350px;
        object-fit: cover;
        padding: 5px;

    }

    .carousel {
        float: left;
    }

    #imagesmru img {
        height: 400px;
    }

    .mrucover {
        height: 150px;
    }

    article {
        margin: 20px;
    }
}

@media (min-width: 790px) {
    img[alt="scaling plan"]{
        height: 240px;
        float: right;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: -20px;
    }

    h3 {
        margin-bottom: 30px;
    }

    #description {
        width: 100%;
        
    }
    .carousel img{
        height:400px;
        object-fit: cover;
        padding: 5px;
    }

    .carousel {
        float: left;
    }

    p {
        padding: 10px;
    }

    #imagesmru img {
        height: 600px;
    }

    .mrucover {
        height:250px;
        float: right;
        margin-top: -20px;
    }

    article {
        margin: 20px;
        margin-right: 30px;
        margin-left: 50px;
        padding: 10px;
    }
}